<h1>elementId crash demo</h1>
<p>Open the console debugger first to see the thrown error</p>
{{component this.buttons.inner updateMe=this.updateMe}}
<button {{action "handleUpdate"}}>Click me</button>
